@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.centered {
  max-width: 950px;
  min-width: 700px;
  padding: 0px 30px 0px 30px;
  margin-left: auto;
  margin-right: auto; }

ul.nav {
  margin-top: 100px;
  min-width: 700px;
  padding: 0px 30px 0px 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: white(0.8) 0 1px 0, inset black(0.05) 0 1px 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    ul.nav li:first-child, ul.nav li.first {
      padding-left: 0; }
    ul.nav li:last-child {
      padding-opposite-position(left): 0; }
    ul.nav li.last {
      padding-opposite-position(left): 0; }

ul.nav li a {
  text-shadow: white(0.15) 0 1px 0; }

body {
  background: #f5ff;
  font-family: serif;
  padding-top: 0px;
  padding-bottom: 40px; }

.postcontent {
  padding: 15px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.08), 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.12);
  box-shadow: inset 0px 0px rgba(0, 0, 0, 0.08), 0px -1px rgba(0, 0, 0, 0.3); }

.postcontent p {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
  font-size: 110%;
  font-family: "PT Sans", "Trebuchet MS", sans-serif; }

.post h3 a:link, .post h3 a:visited {
  color: rgba(0, 78, 34, 0.75); }

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit; }

/* Change font sizes for headings etc. */
#main h1 {
  font-size: 26pt;
  margin: 10px 0px 15px 0px; }

#main h2 {
  font-size: 20pt;
  margin: 20px 0px 0px 0px; }

#main h3 {
  font-size: 14pt;
  margin: 15px 0px 0px 0px; }

#main p {
  font-size: 12pt;
  margin: 5px 0px 15px 0px; }

#main ul {
  font-size: 12pt;
  margin-top: 10px; }

#main li {
  font-size: 12pt;
  margin: 5px 0px 5px 0px; }

pre, pre code {
  font: 9pt sans-serif;
  Line-height: 13pt; }

aside {
  font: 9pt sans-serif;
  text-align: right; }

a {
  text-decoration: none; }

a:hover {
  color: #f90; }

article {
  font-size: 12pt; }
