body {font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.5em;}

* {
	margin: 0; padding:0;
	font-family: Verdana, Tahoma, sans-serif;
}

#content{
margin: 3em 15%;
}


p, h1, h2, label, ul, ol, dl, li, fieldset, address { margin: 1em 0; }
.box {
	margin: auto;
	border-left: 5px solid #668040;
	background-color: #DCE6CF;
}

.box p {margin: 0.3em 0;}

.box, h1, h2 {
	padding: 1px 0 1px 5px;
}

h1 {
	border-left: 8px solid #B61C15;  // cardinal
	margin-left: -23px;
	padding-left: 10px;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0.4em;
}

h2 {
	border-left: 3px solid #F5C729;  // gold
	margin-left: -8px;
    font-size: 1.2em;
    font-weight: bold
}
